@import "tailwindcss";

:root {
  --background: #ededed;
  --background-2: #1B1B1B;
  --foreground: #1B1B1B;
  --foreground-2: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-background-2: var(--background-2);
  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  --background-2: #1B1B1B;
  --foreground: #1B1B1B;
  --foreground-2: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}